.calendar {
  &__month {
    font-size: 24px;
    font-weight: 900;
    width: 200px;
    text-align: center;
    &__align {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      > div {
        display: flex;
      }
    }
  }
  &__DOW {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    & > div:not(:first-child) {
      margin-left: 5px;
    }
  }
  &__day {
    width: 130px;
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }
  &__layout {
    display: flex;
    justify-content: center;
  }
  &__nodes {
    display: grid;
    grid-template-columns: repeat(7, 130px);
    grid-gap: 5px;
  }
}
